# .github/workflows/staging.yml
name: Staging Deployment

on:
  workflow_run:
    workflows: ["Symfony Build Pipeline"]
    types:
      - completed
jobs:
  staging_deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fake Staging Deployment
        run: |
          echo "Deploying to Staging..."
          # Fake deployment command
          echo "Staging deployment is successful!"

